@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model IEnumerable<BgEngine.Domain.EntityModel.User>

@using Combres.Mvc;

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = Resources.AppMessages.User + " - " + Resources.AppMessages.Index;
    
    WebGrid grid = new WebGrid(ajaxUpdateContainerId: "grid-container",rowsPerPage: Int32.Parse(ViewBag.RowsPerPage));
    grid.Bind(Model, autoSortAndPage: false, rowCount: ViewBag.TotalUsers);
}

@Html.CombresLink("IndexViewsJs")

<script type="text/javascript">
    $(document).ready(function () {
        $.index_startup('<h1>@Resources.AppMessages.Wait_Loading</h1>');
    });
</script>

<p>
    @Html.RouteLink(Resources.AppMessages.Create, "Default", new { controller = "User", action = "Create" }, new { @class = "bg-button-new" })
    @if (Model.Any()) {
        <a href="#" id="options" class="bg-button-gear">@Resources.AppMessages.Show_Hide_ColumnsFilters</a>	   
    }    
</p>

@if (Model.Any())
{
    <div id="options-container" class="ui-helper-hidden ui-helper-reset-float">
        <div class="ui-helper-margin multiselect ui-helper-margin-top-bottom">
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-1" data-column="1" data-default="true" />
                <span>@Resources.AppMessages.Name</span>
            </div>            
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-2" data-column="2" data-default="true" />
                <span>Email</span>
            </div>
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-3" data-column="3" data-default="true" />
                <span>¿Confirmado?</span>
            </div>            
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-4" data-column="4" />
                <span>@Resources.AppMessages.DateCreated</span>
            </div>                        
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-5" data-column="5" />
                <span>@Resources.AppMessages.User_PasswordFailures</span>
            </div>                                    
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-6" data-column="6" />
                <span>@Resources.AppMessages.User_LastPasswordFailureDate</span>
            </div>                                     
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-7" data-column="7" />
                <span>@Resources.AppMessages.User_PasswordChangedDate</span>
            </div>                                     
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-8" data-column="8" />
                <span>@Resources.AppMessages.User_FirstName</span>
            </div>                         
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-9" data-column="9" />
                <span>@Resources.AppMessages.User_LastName</span>
            </div>                         
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-10" data-column="10" />
                <span>@Resources.AppMessages.User_TimeZone</span>
            </div>                         
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-11" data-column="11" />
                <span>@Resources.AppMessages.User_Culture</span>
            </div>                                     
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-12" data-column="12" data-default="true" />
                <span>Roles</span>
            </div>                        
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-13" data-column="13" data-default="true" />
                <span>Comentarios</span>
            </div>                        
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-14" data-column="14" data-default="true" />
                <span>Posts</span>
            </div>                                                                 
        </div>            
    </div>    

    <div class="ui-helper-reset-float"></div>
    
    <div id="grid-container" class="ui-helper-margin-top-bottom ui-helper-clear-both">
        @grid.GetHtml(htmlAttributes: new { @class = "ui-helper-width-100pc" }, columns: new[] {
            grid.Column("Username", header: Resources.AppMessages.Name,canSort:true),
            grid.Column("Email",header: "Email", canSort:true),
            grid.Column("IsConfirmed",header:"¿Confirmado?",
                            format: @<span class="options">
                                        @if (item.IsConfirmed)
                                        {
                                            <span>@Resources.AppMessages.Confirmed</span>
                                        }
                                        else
                                        {
                                            <span>@Resources.AppMessages.Pending</span>
                                        }
                                     </span>, canSort:true),            
            grid.Column("CreateDate",header: Resources.AppMessages.DateCreated, canSort:true),
            grid.Column("PasswordFailuresSinceLastSuccess",header: Resources.AppMessages.User_PasswordFailures, canSort:true),
            grid.Column("LastPasswordFailureDate",header: Resources.AppMessages.User_LastPasswordFailureDate, canSort:true),
            grid.Column("PasswordChangedDate",header: Resources.AppMessages.User_PasswordChangedDate, canSort:true),
            grid.Column("FirstName",header: Resources.AppMessages.User_FirstName, canSort:true),
            grid.Column("LastName",header: Resources.AppMessages.User_LastName, canSort:true),
            grid.Column("TimeZone",header: Resources.AppMessages.User_TimeZone, canSort:true),
            grid.Column("Culture",header: Resources.AppMessages.User_Culture, canSort:true),
            grid.Column("Roles",header: "Roles", canSort:false, format: @<span><p class="ui-helper-medium-font-size ui-helper-text-center">@item.Roles.Count</p></span>,style: "ui-helper-minwidth"),
            grid.Column("Comments",header: "Comentarios", canSort:false, format: @<span><p class="ui-helper-medium-font-size ui-helper-text-center">@item.Comments.Count</p></span>,style: "ui-helper-minwidth"),
            grid.Column("Posts",header:"Posts", canSort:false, format: @<span><p class="ui-helper-medium-font-size ui-helper-text-center">@item.Posts.Count</p></span>,style: "ui-helper-minwidth"),
            grid.Column("", header: Resources.AppMessages.Actions, 
                            format: @<span class="options">
                                        @Html.ActionLink(Resources.AppMessages.Edit, "Edit", new { id = item.UserId },new {@class="bg-button-grid-edit tooltip"})
                                        @Html.ActionLink(Resources.AppMessages.View_Detail, "Details", new { id = item.UserId }, new { @class = "bg-button-grid-zoom tooltip" })
                                        @Html.ActionLink(Resources.AppMessages.Delete, "Delete", new { id = item.UserId }, new { @class = "bg-button-grid-delete tooltip" })
                                    </span>,           
                            canSort:false,
                            style: "ui-helper-minwidth")
        }, mode: WebGridPagerModes.All)
    </div>
}
else
{
	<h2 class="ui-widget-content ui-state-highlight ui-corner-all ui-helper-padding">@Resources.AppMessages.Error_NoUsersFound</h2>
}    