@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@using Mvc.Mailer;

@{
	string parameters = "?token=" + Url.Encode(ViewBag.Token) + "&email=" + ViewBag.Email;
}

<center>
<table width="600" background="#FFFFFF" style="text-align:left;" cellpadding="0" cellspacing="0">
<tr>
	<td height="18" width="31" style="border-bottom:1px solid #e4e4e4;">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>

	<td height="18" width="131">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
	<td height="18" width="466" style="border-bottom:1px solid #e4e4e4;">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
</tr>
<tr>
	<td height="2" width="31" style="border-bottom:1px solid #e4e4e4;">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>

	</td>
	<td height="2" width="131">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
	<td height="2" width="466" style="border-bottom:1px solid #e4e4e4;">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
</tr>
<!--GREEN STRIPE-->
<tr>

	<td background="@Url.Abs(Url.Content("~/Content/Icons/greenback.gif"))" width="31" bgcolor="#45a853" style="border-top:1px solid #FFF; border-bottom:1px solid #FFF;" height="113">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
	
	<!--WHITE TEXT AREA-->
	<td width="131" bgcolor="#FFFFFF" style="border-top:1px solid #FFF; text-align:center;" height="113" valign="middle">
	<span style="font-size:25px; font-family:Trebuchet MS, Verdana, Arial; color:#2e8a3b;">@Resources.EmailTemplates.SubscriptionMail_Title</span>
	</td>
	
	<!--GREEN TEXT AREA-->

	<td background="@Url.Abs(Url.Content("~/Content/Icons/greenback.gif"))" bgcolor="#45a853" style="border-top:1px solid #FFF; border-bottom:1px solid #FFF; padding-left:15px;" height="113">
	<span style="color:#FFFFFF; font-size:18px; font-family:Trebuchet MS, Verdana, Arial;">@Resources.EmailTemplates.SubscriptionMail_SubTitle</span>
	</td>
</tr>

<!--DOUBLE BORDERS BOTTOM-->
<tr>
	<td height="3" width="31" style="border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>

	<td height="3" width="131">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
	<td height="3" style="border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
</tr>
<tr>
	<td colspan="3">
	<!--CONTENT STARTS HERE-->

	<br />
	<br />
	<table cellpadding="0" cellspacing="0">
	<tr>
	<td width="15"><div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
</td>
	<td width="325" style="padding-right:10px; font-family:Trebuchet MS, Verdana, Arial; font-size:12px;" valign="top">
	<span style="font-family:Trebuchet MS, Verdana, Arial; font-size:17px; font-weight:bold;">@Resources.EmailTemplates.RegisterMail_Welcome</span>
	<br />

	<p>@Resources.EmailTemplates.RegisterMail_DataSaved</p>
	<br />
	<div style="padding-left:20px; padding-bottom:10px;"><img src="@Url.Abs(Url.Content("~/Content/Icons/spade.gif"))" alt=""/>&nbsp;&nbsp;&nbsp;@Resources.EmailTemplates.RegisterMail_User @ViewBag.Name</div>

	<div style="padding-left:20px; padding-bottom:10px;"><img src="@Url.Abs(Url.Content("~/Content/Icons/spade.gif"))" alt=""/>&nbsp;&nbsp;&nbsp;@Resources.EmailTemplates.RegisterMail_Email @ViewBag.Email</div>

	<div style="padding-left:20px; padding-bottom:10px;">
		<img src="@Url.Abs(Url.Content("~/Content/Icons/spade.gif"))" alt=""/>&nbsp;&nbsp;&nbsp;@Resources.EmailTemplates.RegisterMail_ConfirmationToken
		<p>@Html.Raw(ViewBag.Token)</p>
	</div>

	<p>@Resources.EmailTemplates.RegisterMail_PressLink <a href="@Url.Abs(Url.RouteUrl("Default", new { controller = "Subscription", action = "ConfirmSubscription"}))@parameters"> @Resources.EmailTemplates.SubscriptionMail_ToConfirm</a></p>

	<p>@Resources.EmailTemplates.SubscriptionMail_ConfirmationTokenMessage</p>
	<a href="@Url.Abs(Url.RouteUrl("Default", new { controller = "Subscription", action = "ConfirmSubscriptionForm" }))">@Resources.EmailTemplates.SubscriptionMail_ConfirmationLink</a>
   <br/>
   <p>@Resources.EmailTemplates.RegisterMail_Regards</p>
   <br/>
   <p>@BgEngine.Application.ResourceConfiguration.BgResources.Messages_SiteTitle</p>
   <br/>  
   <p>@String.Format(Resources.EmailTemplates.SubscriptionMail_WhySent,ViewBag.Email,BgEngine.Application.ResourceConfiguration.BgResources.Messages_SiteUrl)</p>
	</td>

	<td style="border-left:1px solid #e4e4e4; padding-left:15px;" valign="top">
	
	<!--RIGHT COLUMN FIRST BOX-->
	<table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #e4e4e4; font-family:Trebuchet MS, Verdana, Arial; font-size:12px;">
	<tr>
	<td>
	<div style="font-family:Trebuchet MS, Verdana, Arial; font-size:17px; font-weight:bold; padding-bottom:10px;">@Resources.EmailTemplates.RegisterMail_AddUs</div>
	<img src="@Url.Abs(Url.Content("~/Content/Icons/addressbook.gif"))" align="right" style="padding-left:10px; padding-top:10px; padding-bottom:10px;" alt=""/>
	<p>@Resources.EmailTemplates.RegisterMail_AdddUsContent @BgEngine.Application.ResourceConfiguration.BgResources.Email_UserName</p>

	<br />
	</td>
	</tr>
	</table>
	
	<!--RIGHT COLUMN SECOND BOX-->
	<br />
	<table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #e4e4e4; font-family:Trebuchet MS, Verdana, Arial; font-size:12px;">
	<tr>
	<td>

	<div style="font-family:Trebuchet MS, Verdana, Arial; font-size:17px; font-weight:bold; padding-bottom:10px;">@Resources.EmailTemplates.RegisterMail_AnyQuestions</div>
	<img src="@Url.Abs(Url.Content("~/Content/Icons/penpaper.gif"))" align="right" style="padding-left:10px; padding-top:10px; padding-bottom:10px;" alt=""/>
	<p>@Resources.EmailTemplates.RegisterMail_AnyQuestionsContent</p>
	<br />
	</td>
	</tr>
	</table>
	
	<!--RIGHT COLUMN THIRD BOX-->

	<br />
	<table cellpadding="0" width="100%" cellspacing="0" style="font-family:Trebuchet MS, Verdana, Arial; font-size:12px;">
	<tr>
	<td>
	<div style="font-family:Trebuchet MS, Verdana, Arial; font-size:17px; font-weight:bold; padding-bottom:10px;">@Resources.EmailTemplates.RegisterMail_Ideas</div>
	<img src="@Url.Abs(Url.Content("~/Content/Icons/lightbulb.gif"))" align="right" style="padding-left:10px; padding-top:10px; padding-bottom:10px;" alt=""/>
	<p>@Resources.EmailTemplates.RegisterMail_IdeasContent</p>

	<br />
	</td>
	</tr>
	</table>
	
	</td>
	</tr>
	</table>
	</td>
</tr>

</table>
<br />
<table cellpadding="0" style="border-top:1px solid #e4e4e4; text-align:center; font-family:Trebuchet MS, Verdana, Arial; font-size:12px;" cellspacing="0" width="600">
<tr>
	<td height="2" style="border-bottom:1px solid #e4e4e4;">
	<div style="line-height: 0px; font-size: 1px; position: absolute;">&nbsp;</div>
	</td>
</tr>
	<td style="font-family:Trebuchet MS, Verdana, Arial; font-size:12px;">
	<br />
	@BgEngine.Application.ResourceConfiguration.BgResources.Email_UserName<br />
	</td>
</tr>
</table>
</center>
