@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model IEnumerable<BgEngine.Domain.EntityModel.Comment>

@using Combres.Mvc;

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = Resources.AppMessages.Comment + "-" + Resources.AppMessages.Index;

    WebGrid grid = new WebGrid(ajaxUpdateContainerId: "grid-container", rowsPerPage: Int32.Parse(ViewBag.RowsPerPage));
    grid.Bind(Model, autoSortAndPage: false, rowCount: ViewBag.TotalComments);
    var culture = CultureHelper.GetNeutralCulture(CultureHelper.GetCurrentCulture());
}

@Html.CombresLink("IndexViewsJs")

<script type="text/javascript">

    $(document).ready(function () {
        $.index_startup('<h1>@Resources.AppMessages.Wait_Loading</h1>');
    });
</script>

<p>
    @Html.RouteLink(Resources.AppMessages.Create, "Default", new { controller = "Comment", action = "Create" }, new { @class = "bg-button-new" })
    @if (Model.Any())
    {
        <a href="#" id="options" class="bg-button-gear">@Resources.AppMessages.Show_Hide_ColumnsFilters</a>	   
    }    
</p>

@if (Model.Any())
{
    <div id="options-container" class="ui-helper-hidden">
        <div class="ui-helper-margin multiselect ui-helper-margin-top-bottom">
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-1" data-column="1" data-default="true" />
                <span>@Resources.AppMessages.Comment_CommentId</span>
            </div>            
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-2" data-column="2" data-default="true" />
                <span>@Resources.AppMessages.Comment_Message</span>
            </div>
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-3" data-column="3" />
                <span>@Resources.AppMessages.Comment_IsRelated</span>
            </div>            
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-4" data-column="4" />
                <span>@Resources.AppMessages.DateCreated</span>
            </div>                        
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-5" data-column="5" />
                <span>@Resources.AppMessages.DateUpdated</span>
            </div>                                    
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-6" data-column="6" />
                <span>@Resources.AppMessages.User</span>
            </div>                                     
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-7" data-column="7" />
                <span>@Resources.AppMessages.AnonymousUser_Anonymous_Username</span>
            </div>                                     
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-8" data-column="8" />
                <span>@Resources.AppMessages.AnonymousUser_Email</span>
            </div>                         
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-9" data-column="9" />
                <span>@Resources.AppMessages.AnonymousUser_Web</span>
            </div>                         
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-10" data-column="10" data-default="true" />
                <span>@Resources.AppMessages.Comment_IsSpam</span>
            </div>                         
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-11" data-column="11" />
                <span>@Resources.AppMessages.Comment_Ip</span>
            </div>                                     
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-12" data-column="12" />
                <span>@Resources.AppMessages.Comment_UserAgent</span>
            </div>                                     
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-13" data-column="13" />
                <span>@Resources.AppMessages.Post</span>
            </div>                         
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-14" data-column="14" />
                <span>@Resources.AppMessages.Post_Code</span>
            </div>                                     
        </div>            
    </div>    

    <div id="grid-container" class="ui-helper-margin-top-bottom ui-helper-clear-both">
        @grid.GetHtml(htmlAttributes: new { @class = "ui-helper-width-100pc" }, columns: new[] {
            grid.Column("CommentId",  header:Resources.AppMessages.Comment_CommentId, format: @<span><text>#@item.CommentId</text></span>, canSort:true),
            grid.Column("Message",    header:Resources.AppMessages.Comment,canSort:false,style:"ui-helper-width-50pc",format:@<span>@Html.Raw(item.Message)</span>),
            grid.Column("IsRelatedComment",    header:Resources.AppMessages.Comment_IsRelated,canSort:true, format:@<span>@(item.IsRelatedComment ? Resources.AppMessages.Yes : Resources.AppMessages.No)</span>),
            grid.Column("DateCreated",header:Resources.AppMessages.DateCreated, canSort:true),
            grid.Column("DateUpdated",header:Resources.AppMessages.DateUpdated, canSort:true),            
            grid.Column("User.Username",header:Resources.AppMessages.User, canSort:true, format: @<span>@(item.User !=null ? item.User.Username : " ")</span>),
            grid.Column("AnonymousUser.Username",header:Resources.AppMessages.AnonymousUser_Anonymous_Username, canSort:true,format: @<span>@item.AnonymousUser.Username</span>),
            grid.Column("AnonymousUser.Email",header:Resources.AppMessages.AnonymousUser_Email, canSort:true,format: @<span>@item.AnonymousUser.Email</span>),
            grid.Column("AnonymousUser.Web",header:Resources.AppMessages.AnonymousUser_Web, canSort:false,format: @<span>@item.AnonymousUser.Web</span>),
            grid.Column("IsSpam",header:Resources.AppMessages.Comment_IsSpam, canSort:true,
                                format: @<div class="comment" data-commentid="@item.Commentid">
                                            <div class="spam @(item.isSpam ? " " : "ui-helper-hidden")">
                                                @Resources.AppMessages.Yes
                                                @if (ViewBag.AkismetInUse)
                                                {
                                                    @Html.ActionLink(Resources.AppMessages.MarkAsHam, "ChangeSpamMark", new { id = item.CommentId }, new { @class = "bg-button-unlocked-notext tooltip ui-helper-float-right" })
                                                }
                                            </div>
                                            <div class="ham @(item.isSpam ? "ui-helper-hidden" : " ")">
                                                @Resources.AppMessages.No
                                                @if (ViewBag.AkismetInUse)
                                                {
                                                    @Html.ActionLink(Resources.AppMessages.MarkAsSpam, "ChangeSpamMark", new { id = item.CommentId }, new { @class = "bg-button-locked-notext tooltip ui-helper-float-right" })
                                                }                                                
                                            </div>
                                         </div>),
            grid.Column("Ip",header:Resources.AppMessages.Comment_Ip, canSort:true,format: @<span>@item.Ip</span>),
            grid.Column("UserAgent",header:Resources.AppMessages.Comment_UserAgent, canSort:true,format: @<span>@item.UserAgent</span>),
            grid.Column("Post.Title", header:Resources.AppMessages.Post, canSort:true,format: @<span>@item.Post.Title</span>),
            grid.Column("Post.Code", header:Resources.AppMessages.Post_Code, canSort:true,format: @<span>@item.Post.Code</span>),
            grid.Column("", header:Resources.AppMessages.Actions, 
                            format: @<span class="options">
                                        @Html.ActionLink(Resources.AppMessages.Edit, "Edit", new { id = item.CommentId }, new { @class = "bg-button-grid-edit tooltip" })
                                        @Html.ActionLink(Resources.AppMessages.View_Detail, "Details", new { id = item.CommentId }, new { @class = "bg-button-grid-zoom tooltip" })
                                        @Html.ActionLink(Resources.AppMessages.Delete, "Delete", new { id = item.CommentId }, new { @class = "bg-button-grid-delete tooltip" })
                                    </span>,
                            canSort:false,
                            style: "ui-helper-minwidth")
        }, mode: WebGridPagerModes.All)
    </div>

}
else
{
	<h2 class="ui-widget-content ui-state-highlight ui-corner-all ui-helper-padding">@Resources.AppMessages.Error_NoCommentsFound</h2>
}
