@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model BgEngine.Web.ViewModels.RegisterModel

@using System.Globalization;
@using Combres.Mvc;

@{
    ViewBag.Title = Resources.AppMessages.Register_Title;
}

@Html.CombresLink("FormJs")

<script type="text/javascript">
    $(document).ready(function () {
        $("form").form();
    });
</script>

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>@Resources.AppMessages.Register_Legend</legend>
            <h3 class="ui-helper-margin-top-bottom"><em>@Resources.AppMessages.Register_AccountData</em></h3>
            <table class="table-template">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.UserName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.UserName)
                             @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Email)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </td>
                </tr>
            </table>
            <h3><em>@Resources.AppMessages.Register_PersonalData</em></h3>
            <table class="table-template">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.FirstName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.FirstName)
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.LastName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.LastName)
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.TimeZone)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownListFor(m => m.TimeZone,new SelectList(TimeZoneInfo.GetSystemTimeZones().OrderBy(tz => tz.DisplayName).Select(tz => tz.DisplayName)))
                            @Html.ValidationMessageFor(m => m.TimeZone)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Culture)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownListFor(m => m.Culture,new SelectList(CultureInfo.GetCultures(CultureTypes.AllCultures).OrderBy(c=> c.DisplayName).Select(c => c.DisplayName)))
                            @Html.ValidationMessageFor(m => m.Culture)
                        </div>
                    </td>
                </tr>
            </table>
            <h3 class="ui-helper-margin-top-bottom"><em>@Resources.AppMessages.Register_Recaptcha</em></h3>
            <div class="editor-field">
                    @ReCaptcha.GetHtml(theme:"white", language: Culture.Substring(0,2))
                    @Html.ValidationMessage("recaptcha")
            </div>
            <p>
                <input type="submit" value="@Resources.AppMessages.Register_Submit" />
            </p>    
        </fieldset>
    </div>
}
