@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model BgEngine.Domain.EntityModel.Album

@using Combres.Mvc;
@using BgEngine.Security.Services;
@using BgEngine.Application.ResourceConfiguration;

@{
    ViewBag.Title = Resources.AppMessages.Album + "-" + Resources.AppMessages.Galleria;
}

@Html.CombresLink("GalleriaJs")

@if (Model.Images.Any())
{ 
    <div id="container"></div>

    <script type="text/javascript">
         $(document).ready(function () {
             var theme = "folio";
             Galleria.loadTheme("@Url.Content("~/Scripts/galleria/themes/folio/galleria.folio.min.js")");
             var url = "@Url.RouteUrl("Default", new { controller = "Image", action = "GetGalleriaJson", id = Model.AlbumId })";
             jsondata = null;
             $.getJSON(url , null, function(data) {
                $('#container').galleria({
                    data_source: data,
                    width:$("#main").width(),
                    height:500
                });                
                $("#container").addClass("ui-helper-margin-top-bottom");
            });
          $(window).resize(function () {
              $(".galleria-container").width($("#main").width());              
          });
       });    
    </script>
}
else
{
    <h2 class="ui-helper-margin ui-widget-content ui-state-highlight ui-corner-all ui-helper-padding">@Resources.AppMessages.Album_NoImage</h2>
}

    <div id="galleria-options" class="ui-helper-margin ui-helper-margin-top-bottom">
        @if (Model.Images.Any() && (CodeFirstSecurity.IsAuthenticated))
        {
            if ((CodeFirstRoleServices.IsUserInRole(CodeFirstSecurity.CurrentUserName, BgResources.Security_AdminRole)) || (CodeFirstRoleServices.IsUserInRole(CodeFirstSecurity.CurrentUserName, BgResources.Security_PremiumRole)))
            { 
                @Html.RouteLink(String.Format(Resources.AppMessages.Album_Download, Model.Name), new { controller = "Album", action = "DownloadAlbum", id = Model.AlbumId }, new { @class = "bg-button-save" })
            }         
        }
        @Html.RouteLink(Resources.AppMessages.Back_to_List, new { controller = "Home", action = "Galeria" }, new { @class = "bg-button-back" })        
    </div>
