@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model BgEngine.Web.ViewModels.ChangePasswordModel

@using Combres.Mvc;

@{
    ViewBag.Title = "ConfirmResetAccount";
}

@Html.CombresLink("FormJs")

<script type="text/javascript">
    $(document).ready(function () {
        $("form").form();
    });
</script>

@using (Html.BeginRouteForm("Default", new { controller="Account", action="ConfirmResetAccount"})) {
    <div>
        <fieldset>
            <legend>@Resources.AppMessages.Register_Legend</legend>
            <h3><em>@Resources.AppMessages.Register_PersonalData</em></h3>
            @Html.ValidationSummary(false)
            <table class="table-template">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.NewPassword)
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="ConfirmationToken" value="@ViewBag.Token" data-val="true" />
            <input type="hidden" name="UserName" value="@ViewBag.User" data-val="true" />
            <h3 class="ui-helper-margin-top-bottom"><em>@Resources.AppMessages.Register_Recaptcha</em></h3>
            <div class="editor-field">
                    @ReCaptcha.GetHtml(theme: "white", language: Culture.Substring(0, 2))
                    @Html.ValidationMessage("recaptcha")
            </div>
            <p>
                <input type="submit" value="@Resources.AppMessages.ResetAccount_Submit" />
            </p>    
        </fieldset>
    </div>
}

