@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model BgEngine.Web.ViewModels.LogOnModel

@using BgEngine;
@using Combres.Mvc;

@{
    ViewBag.Title = Resources.AppMessages.Login;
}

@Html.CombresLink("FormJs")

<script type="text/javascript">
    $(document).ready(function () {
        $("form").form();
    });
</script>

@using (Html.BeginForm()) {
        <fieldset>
            <legend>@Resources.AppMessages.LogOn_Legend</legend>
            @Html.ValidationSummary(true)
            <h3><em>@Resources.AppMessages.LogOn_IntroKey</em></h3>            
            <p>
               @Resources.AppMessages.LogOn_Register @Html.RouteLink(Resources.AppMessages.LogOn_RegisterButton, "Default", new { controller = "Account", action = "Register" }, new { @class = "bg-button-edit ui-helper-margin-left-right" }) 
            </p>
            <table class="table-template">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.UserName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </td>
                </tr>          
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </td>
                </tr>
            </table>
            <div class="ui-helper-margin-top-bottom">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <p>
                <input type="submit" value="@Resources.AppMessages.SignIn" />
            </p>
            @Html.RouteLink(Resources.AppMessages.LogOn_Forget, "Default", new { controller = "Account", action = "ResetAccount" }, new { @class="bg-button-no-icon"})              
        </fieldset>
    }

