@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model BgEngine.Web.ViewModels.ResetAccountModel

@using Combres.Mvc;

@{
    ViewBag.Title = Resources.AppMessages.ResetAccount_Title;
}

@Html.CombresLink("FormJs")

<script type="text/javascript">
    $(document).ready(function () {
        $("form").form();
    });
</script>

@using (Html.BeginForm()) {
    <fieldset>
        <legend>@Resources.AppMessages.ResetAccount_Legend</legend>
        <h3><em>@Resources.AppMessages.ResetAccount_Message</em></h3>
        <table class="table-template">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </td>
            </tr>
        </table>
        <div class="editor-field">
            @ReCaptcha.GetHtml(theme: "white", language: Culture.Substring(0, 2))
            @Html.ValidationMessage("recaptcha")
        </div>  
        <p>
            <input type="submit" value="@Resources.AppMessages.ResetAccount_Submit" />
        </p>
    </fieldset>
}
