@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model IEnumerable<BgEngine.Domain.EntityModel.PostByDate>
@using System.Globalization;

<h3><a href="#">@Resources.AppMessages.SideBar_Archive</a></h3>
<div>
    @{
      int lastYear = 0;
      bool isFirstYear = true;
    }
    @foreach (var item in Model)
    {
        if (item.Year != lastYear)
        {
            if (!isFirstYear)
            {
                @:</ul>    
            }
            <p class="ui-helper-reset-margin"><span class="ui-icon-container ui-icon ui-helper-float-left ui-helper-margin-left-right @(item.Year == DateTime.Now.Year ? "ui-icon-circle-minus": "ui-icon-circle-plus")"></span>@Html.DisplayFor(i => item.Year)</p>
            @:<ul class="ui-helper-reset-margin @(item.Year != DateTime.Now.Year ? "ui-helper-hidden" : "")">
            lastYear = item.Year;
            isFirstYear = false;
        }
        <li>
            @Html.RouteLink(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month), "PostByDate", new { controller = "Post", action = "GetPostsByDate", year = item.Year, month = item.Month })
            <span>(@item.Count)</span>    
        </li>
    }
    </ul>
</div>
