@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@using BgEngine.Security.Services;
@using Combres.Mvc

<!DOCTYPE html>
<meta charset=utf-8>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	@if (ViewBag.MetaDescription != null)
	{
		<meta content="@ViewBag.MetaDescription" name="description"/>
	}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<title>@ViewBag.Title</title>
	<link rel="icon"  href="@Url.Content("~/Content/Icons/favicon.ico")">
	@Html.CssInclude(typeof(BgEngine.Controllers.BaseController), Themes.GetResourcePath("jquery-ui-1.8.16.custom.css"))    
	@Html.CombresLink("siteCss")
	@Html.CombresLink("siteJs")
	<script type="text/javascript">
		$(document).ready(function() {
			@* Select current culture*@
			$(".lang-picker a." + Globalize.culture().name.toLowerCase()).prependTo($(".lang-picker")); 
			@* culture change *@
			$(".lang-picker a").click(function(){
				if ($(this).hasClass(Globalize.culture().name.toLowerCase()))
					return false;
				$.cookie("_culture", $(this).attr("class") , {expires : 365, path: '/'});
				window.location.reload(); 
			});            	
			$("#home-contact").click(function () {
				$.get("@Url.Action("Contact", "Home")", 
					function (data, status) {
						 $.fancybox({
							'content': data,
							'scrolling': 'no',
							'autoDimensions': true,
							'width': 610,
							'height': 300
						});
						$("input:submit").button();
					}
				);
				return false;
			});
			$("#themeselector").themeselector({ url: '@Url.RouteUrl("Default",new {controller="Theme", action="ChangeTheme", returnurl=Request.Url.AbsoluteUri })' });
	   });
	</script>        
	@CustomHelper.GetClientGlobalizationMessages(@CultureHelper.GetNeutralCulture(CultureHelper.GetCurrentCulture()))
	@CustomHelper.GetTooltipInitializationCode()
	@CustomHelper.GetGoogleAnalyticsCode(BgEngine.Application.ResourceConfiguration.BgResources.Analytics_GoogleAnalyticsCode)
</head>
<body id="body" class="ui-helper-border-none @(BgEngine.Application.ResourceConfiguration.BgResources.Themes_DarkBackGround.Contains(Themes.CurrentTheme) ? "ui-state-default" : " ")">
	<div class="page ui-helper-hidden">
		<header class="ui-widget-content @(BgEngine.Application.ResourceConfiguration.BgResources.Themes_DarkHeader.Contains(Themes.CurrentTheme) ? "ui-state-default" : " ")">
			<div id="title">
				<h1>@Html.RouteLink(BgEngine.Application.ResourceConfiguration.BgResources.Messages_SiteTitle, "Default", new { controller = "Home", action = "Index" }, new { @class = "bg-button" })</h1>                            
			</div>
			<div id="logindisplay" class="ui-helper-float-right">
				@Html.Partial("_LogOnPartial")
			</div>
			<div class="lang-picker-wrapper ui-helper-float-right ui-helper-margin-left-right">
				<span  class="lang-picker">
					<a class="en-us" href="javascript:void(0);"><img src="@Url.Content("~/Content/Icons/en_flag.png")" /></a>
					@if (Request.UserLanguages != null)
					{
						<a class="@(CultureHelper.GetNeutralCulture(Request.UserLanguages[0].ToLower()) == "es" ? Request.UserLanguages[0].ToLower() : "es")" href="javascript:void(0);"><img src="@Url.Content("~/Content/Icons/es_flag.png")" /></a>
					}
					else
					{
						 <a class="es-es" href="javascript:void(0);"><img src="@Url.Content("~/Content/Icons/es_flag.png")" /></a>
					}                    
				</span>
			</div>
			<div id="nav">
				<ul id="menu">
					<li>@Html.RouteLink(Resources.AppMessages.Home_Index, "Default", new { controller = "Home", action = "Index" }, new { @class = "bg-button ui-state-default ui-corner-all" })</li>
					<li>@Html.RouteLink(Resources.AppMessages.Home_Gallery, "Default", new { controller = "Home", action = "Galeria" }, new { @class = "bg-button ui-state-default ui-corner-all" })</li>
					<li>@Html.RouteLink(Resources.AppMessages.Home_Videos, "Default", new { controller = "Home", action = "Videos" }, new { @class = "bg-button ui-state-default ui-corner-all" })</li>
					<li>@Html.RouteLink(Resources.AppMessages.Home_About, "Default", new { controller = "Home", action = "About" }, new { @class = "bg-button ui-state-default ui-corner-all" })</li>
					@if ((CodeFirstSecurity.IsAuthenticated) && (CodeFirstRoleServices.IsUserInRole(CodeFirstSecurity.CurrentUserName, BgEngine.Application.ResourceConfiguration.BgResources.Security_AdminRole)))
					{
						<li>@Html.RouteLink(Resources.AppMessages.Home_Admin, "Default", new { controller = "Post", action = "Admin" }, new { @class = "bg-button ui-state-default ui-corner-all ui-state-highlight" })</li>
					}
				</ul>
			</div>
		</header>
		<div id="main" class="ui-helper-transparent">
			<div class="breadcrumb"></div>
			@RenderBody()
		</div>        
		@if (IsSectionDefined("Sidebar"))
		{
			<div class="sidebar">
				@RenderSection("Sidebar", false)
			</div>
		}
		<div id="footer" class="ui-helper-relative">
		   <div class="ui-helper-absolute ui-widget-content ui-corner-all ui-helper-width-100pc @(BgEngine.Application.ResourceConfiguration.BgResources.Themes_DarkHeader.Contains(Themes.CurrentTheme) ? "ui-state-default" : " ")">
			   <p id="copyright" class="ui-helper-margin ui-helper-display-inline-block">
					<em class="ui-helper-padding">@BgEngine.Application.ResourceConfiguration.BgResources.Messages_Copyright</em>
				</p>
			   @Html.RouteLink(@Resources.AppMessages.Home_Contact, "Default", new { controller = "Home", action = "Contact" }, new { @class = "bg-button-mail ui-helper-absolute ui-helper-margin", id = "home-contact" })
		   </div>
		</div>        
	</div>
</body>
</html>
