@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model IEnumerable<BgEngine.Domain.EntityModel.Role>

@using Combres.Mvc;

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = Resources.AppMessages.Role + " - " + Resources.AppMessages.Index;
    
    WebGrid grid = new WebGrid(ajaxUpdateContainerId: "grid-container",rowsPerPage: Int32.Parse(ViewBag.RowsPerPage));
    grid.Bind(Model, autoSortAndPage: false, rowCount: ViewBag.TotalRoles);

}

@Html.CombresLink("IndexViewsJs")

<script type="text/javascript">
    $(document).ready(function () {
        $.index_startup('<h1>@Resources.AppMessages.Wait_Loading</h1>');
    });
</script>

<p>
    @Html.RouteLink(Resources.AppMessages.Create, "Default", new { controller = "Role", action = "Create" }, new { @class = "bg-button-new" })
    @if (Model.Any()) {
        <a href="#" id="options" class="bg-button-gear">@Resources.AppMessages.Show_Hide_ColumnsFilters</a>	   
    }    
</p>

@if (Model.Any())
{
    <div id="options-container" class="ui-helper-hidden ui-helper-reset-float">        
        <div class="ui-helper-margin multiselect ui-helper-margin-top-bottom">
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-1" data-column="1" data-default="true" />
                <span>@Resources.AppMessages.Name</span>
            </div>            
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-2" data-column="2" data-default="true" />
                <span>@Resources.AppMessages.Description</span>
            </div>
            <div class="multiselect-check">
                <input type="checkbox" id="checkbox-3" data-column="3" data-default="true" />
                <span>Users</span>
            </div>
        </div>            
    </div>    
    
    <div class="ui-helper-reset-float"></div>
    
    <div id="grid-container" class="ui-helper-margin-top-bottom ui-helper-clear-both">
        @grid.GetHtml(htmlAttributes: new { @class = "ui-helper-width-100pc" }, columns: new[] {
            grid.Column("RoleName",  header:Resources.AppMessages.Name,canSort:true),
            grid.Column("Description",header:Resources.AppMessages.Description, canSort:false),
            grid.Column("Users",header:"Users", canSort:false,format: @<span><p class="ui-helper-medium-font-size ui-helper-text-center">@item.Users.Count</p></span>),
            grid.Column("", header:Resources.AppMessages.Actions, 
                            format: @<span class="options">
                                        @Html.ActionLink(Resources.AppMessages.Edit, "Edit", new { id = item.RoleId },new {@class="bg-button-grid-edit"})
                                        @Html.ActionLink(Resources.AppMessages.View_Detail, "Details", new { id = item.RoleId },new {@class="bg-button-grid-zoom"})
                                        @Html.ActionLink(Resources.AppMessages.Delete, "Delete", new { id = item.RoleId },new {@class="bg-button-grid-delete"})
                                    </span>,
                            canSort:false,
                            style: "ui-helper-minwidth")
        }, mode: WebGridPagerModes.All)
    </div>
}
else
{
    <h2 class="ui-widget-content ui-state-highlight ui-corner-all ui-helper-padding">@Resources.AppMessages.Error_NoRolesFound</h2>
}