@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@
@{
    string homeurl = Request.Url.Scheme + "://" + Request.Url.Host;                
}

<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="case" bgcolor="#234865" style="background-color: #234865; background-image: url("@Url.Abs(Url.Content("~/Content/Newsletter/body-bg.jpg"))"); background-repeat: repeat;">
			<!--[if gte mso 9]>
<td style="background: none;">
<![endif]-->
			<!--header text-->
			<table style="background-image: url("@Url.Abs(Url.Content("~/Content/Newsletter/header-lines.jpg"))"); background-position: bottom; background-repeat: repeat-x;" bgcolor="#1d3952" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table id="top" width="578" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top" align="center" height="60">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="10"></td>
										</tr>
									</table>
									<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4484b5; margin: 0; padding: 0;">@Resources.EmailTemplates.Newsletter_WhyReceived</p>
									<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4484b5; margin: 0; padding: 0;">@Resources.EmailTemplates.Newsletter_ProblemReading
										<a style="color:#6aacdf; text-decoration: underline;" target="_blank" href="@Url.Abs("")">@Resources.EmailTemplates.Newsletter_ViewInBrowser</a>
										|
										<a style="color:#6aacdf; text-decoration: underline;" target="_blank" href="@Url.Abs(Url.RouteUrl("Default", new { controller="Subscription", action="Unsubscribe" }))">@Resources.EmailTemplates.Newsletter_ClickToUnsubscribe</a>
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!--/header text-->
			<!--intro-->
			<table width="578" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" height="20"></td>
				</tr>
				<tr>
					<td background="@Url.Abs(Url.Content("~/Content/Newsletter/header-bg.jpg"))" bgcolor="#c6d2db" valign="top" height="79">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="22" width="68%"></td>
								<td height="20" width="32%"></td>
							</tr>
							<tr>
								<td valign="top">
									<table width="82%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="center" valign="bottom" width="7%">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td width="15"></td>
														<td width="10"></td>
													</tr>
												</table>
											</td>
											<td valign="middle" width="93%">
												<h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 24px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; color: #244a67">@Request.Url.Host <span style=" font-weight: normal;">@ViewBag.Newsletter</span></h1>
											</td>
										</tr>
									</table>
								</td>
								<td valign="top">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="10"></td>
										</tr>
									</table>
									<p style=" font-family:Helvetica, Arial, sans-serif; font-weight: bold; font-size: 12px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; color: #336791">
										@DateTime.UtcNow.ToShortDateString()
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top" height="20"></td>
				</tr>
			</table>
			<!--/intro-->
			<!--content section-->
			<table width="576" border="0" align="center" cellpadding="20" cellspacing="0">
				@foreach (var post in ViewBag.Posts)
    {
        string path;
        if (post.Image == null)
        {
            path = Url.Content("~/Content/Icons/no_image.jpg");
        }
        else
        {
            path = Url.Content(post.Image.Path);
        }    
					<tr>
						<td valign="top" bgcolor="#1c3851" background="@Url.Abs(Url.Content("~/Content/Newsletter/content-bg.jpg"))" style="border: solid 1px #193044; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px;">
                            <h2><a style="text-decoration:none; color: #62b6ee; font-family: Helvetica, Arial, sans-serif; font-size: 18px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #333333; color: #62b6ee" href="@Url.Abs(Url.RouteUrl("Default", new { action = "GetPostByCode", controller = "Post", id = post.Code }))">@post.Title</a></h2>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="30%" valign="top">										
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td height="10"></td>
											</tr>
										</table>
										<img style="-moz-box-shadow: 2px 2px 4px #000; -webkit-box-shadow: 2px 2px 4px #000; box-shadow: 2px 2px 4px #000; margin: 0; padding: 0; display: block;" src="@Url.Abs(path)" width="130" height="110" alt="img1">
									</td>
									<td valign="top" width="65%">
										<p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: #e7eff6">@post.Description</p>
									</td>
								</tr>
							</table>
							<!--line-->
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td valign="middle" height="40"> <img src="@Url.Abs(Url.Content("~/Content/Newsletter/line.jpg"))" width="533" height="11"></td>
								</tr>
							</table>
						</td>
					</tr>
    }					
			</table>
			<!--/content section-->
			<!--content section-->
			<table width="578" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table width="578" border="0" cellpadding="20" cellspacing="0">
							<tr>
								<td align="center">
									<table width="200" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td><img style="margin: 0; padding: 0; display: block;" src="@Url.Abs(Url.Content("~/Content/Newsletter/foward.png"))" width="29" height="24" alt="foward"></td>
											<td>
												<a style="text-decoration:none; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 16px; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #000; color: #62b6ee" href="http://twitter.com/share?text=@homeurl" target="_blank">@Resources.EmailTemplates.Newsletter_ShareOnTwitter</a>
											</td>
										</tr>
									</table>
								</td>
								<td align="center">
									<table width="200" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td><img style="margin: 0; padding: 0; display: block;" src="@Url.Abs(Url.Content("~/Content/Newsletter/unsubscribe.png"))" width="29" height="26" alt="unsubscribe"></td>
											<td>
												<a style="text-decoration:none; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; margin: 0px; padding: 0px; text-shadow: 1px 1px 1px #000; color: #62b6ee" target="_blank" href="@Url.Abs(Url.RouteUrl("Default", new { controller="Subscription", action="Unsubscribe" }))">@Resources.EmailTemplates.Newsletter_Unsubscribe</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!--/content section-->
			<!--footer-->
			<table style="background-image: url("@Url.Abs(Url.Content("~/Content/Newsletter/footer-lines.jpg"))"); background-position: top; background-repeat: repeat-x;" bgcolor="#1c293b" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table width="578" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top" align="center" height="60">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="15"></td>
										</tr>
									</table>
									<p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin: 0px; padding: 0px; color: #30648d; text-shadow: 1px 1px 1px #000;">@Resources.AppConfiguration.Copyright</p>
									<p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; margin: 0px; padding: 0px; color: #30648d; text-shadow: 1px 1px 1px #000;"></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!--/footer-->
		</td>
	</tr>
</table>
<!--/100% body table-->