@model BgEngine.Domain.EntityModel.Video

@using BgEngine.Domain.Types;

@{
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
	ViewBag.Title = Resources.AppMessages.Video + "-" + Resources.AppMessages.Detail;
}

<fieldset class="ui-widget ui-widget-content ui-corner-all">
	<legend class="bg-panel ui-widget-header ui-corner-all">@String.Format(Resources.AppMessages.Localization_Detail, Model.Name)</legend>
		<table class="table-template">
			<tr>
				<td>
					<div class="display-field">
						@Html.LabelFor(model => model.Name)
					  </div>
				</td>
				<td>
					<div class="display-field">
						@Html.DisplayFor(model => model.Name)
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="display-field">
						@Html.LabelFor(model => model.Description)
					  </div>
				</td>
				<td>
					<div class="display-field">
						@Html.DisplayFor(model => model.Description)
					</div>
				</td>
			</tr>
		<tr>
			<td>
				<div class="display-label">
                    @Html.LabelFor(model => model.Category)
                </div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.Category.Name)
				</div>
			</td>
		</tr>			
			<tr>
				<td>
					<div class="editor-field">
						Video
					</div>
				</td>
				<td>
					<div class="video-admin-container">
				@if (!String.IsNullOrEmpty(Model.Html))
				{
					@Html.Raw(Model.Html)
				}
				else if (Model.VideoType == VideoType.Flash)
				{
					@Video.Flash(path: Model.Path, width: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoWidth, height: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoHeight)
				}
				else if (Model.VideoType == VideoType.MediaPlayer)
				{
					@Video.MediaPlayer(path: Model.Path, width: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoWidth, height: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoHeight)
				}
				else if (Model.VideoType == VideoType.Silverlight)
				{
					@Video.Silverlight(path: Model.Path, width: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoWidth, height: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoHeight)
				}
				else if (Model.VideoType == VideoType.Html5)
				{
					<p>
						Not supportted yet
					</p>
				}
						
					</div>
				</td>
			</tr>
		</table>
	<p>
	   @Html.ActionLink(Resources.AppMessages.Edit, "Edit", new { id = Model.VideoId }, new { @class = "bg-button-edit" })
	   @Html.RouteLink(Resources.AppMessages.Back_to_List, new { controller = "Video", action = "Index" }, new { @class = "bg-button-back" })
	</p>
 </fieldset>