@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model IEnumerable<BgEngine.Domain.EntityModel.Album>

@using Combres.Mvc;
@using BgEngine.Web.Helpers;

@{
	ViewBag.Title = Resources.AppMessages.Album + "-" + Resources.AppMessages.Index;
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@Html.RouteLink(Resources.AppMessages.Create, "Default", new { controller = "Album", action = "Create" }, new {@class="bg-button-new" })

@Html.CombresLink("AlbumIndexJs")

@if (Model.Any())
{
	<div class="sortable ui-helper-margin-top-bottom">
		@foreach (var item in Model)
		{
			<div class="album-holder ui-state-default ui-corner-all">
			   <p class="album-title ui-widget-header ui-corner-all ui-helper-margin-left-right"><strong>@CustomHelper.TruncateString(item.Name,25)</strong></p>
				@if (item.Images.Any())
				{
					<p class="album-title"><em>@item.Images.Count().ToString() @Resources.AppMessages.Image</em></p>
					var image = item.Images.First();
					if (image.ThumbnailPath != String.Empty)
					{
						<div class="album-image-container">
							<img class="album-image" src="@Url.Content(image.ThumbnailPath)" />
						</div>
					}
					else if (image.Path != String.Empty)
					{
						<div class="album-image-container">
							<img class="album-image" src="@Url.Content(image.Path)" />
						</div>
					}
					else
					{
						<div class="album-image-container">
							<img class="album-image" src="@Url.Content(BgEngine.Application.ResourceConfiguration.BgResources.Folders_NoImage)" />
						</div>
					}
				}
				else
				{
					   <p class="album-title"><em>@Resources.AppMessages.WithoutImage</em></p>
					   <div class="album-image-container">
							<img class="album-image" src="@Url.Content(BgEngine.Application.ResourceConfiguration.BgResources.Folders_NoImage)" />
					   </div>
				}       
			   @Html.RouteLink(Resources.AppMessages.Edit, "Default", new { controller = "Album", action = "Edit", id = item.AlbumId }, new { @class = "album-left-p ui-icon ui-icon-pencil" })
			   @Html.RouteLink(Resources.AppMessages.View_Detail, "Default", new { controller = "Image", action = "Index", id = item.AlbumId }, new { @class = "album-centered ui-icon ui-icon-gear" })
			   @Html.RouteLink(Resources.AppMessages.Delete, "Default", new { controller = "Album", action = "Delete", id = item.AlbumId }, new {id=item.AlbumId, @class = "delete album-right-p ui-icon ui-icon-trash" })
		   </div>
		}
	</div>
}
else
{
	<h2 class="ui-helper-margin ui-widget-content ui-state-highlight ui-corner-all ui-helper-padding">@Resources.AppMessages.Galleria_NoAlbum</h2>
}