@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model IEnumerable<BgEngine.Domain.EntityModel.Video>

@using BgEngine.Domain.Types;
@using PagedList.Mvc;
@using PagedList;
@using Combres.Mvc;
@using Microsoft.Web.Helpers;
@using BgEngine.Web.Helpers;
@using BgEngine.Extensions;

@{
	ViewBag.Title = @Resources.AppMessages.Index + " - " + Resources.AppMessages.Video;	
}

@Html.CombresLink("VideoIndexJs")

<script type="text/javascript">
	$(document).ready(function () {
        $.home_videos_startup("@Url.RouteUrl("Default", new { controller = "Home", action = "Videos" })",
                              "@Url.RouteUrl("Default",new {controller="Video", action="GetVideoAutoCompleteSuggestions"})",
                              "@Resources.AppMessages.VideoSearchBox",
                              "<h1>@Resources.AppMessages.Wait_Loading</h1>")
 });
</script>

@CustomHelper.GetTooltipInitializationCode()

@if (Model.Any())
{ 
    <div id="search-videos" class="bg-input-search ui-helper-margin-top-bottom">
	    <input id="searchvideo" name="Title" type="text"/>
	    <a id="searchbutton" class="bg-panel bg-button-search"></a>
    </div>    
    <div id="sidebar-sharebar-video">
        @CustomHelper.GooglePlusOne(Request.Url.AbsoluteUri.ToString(), CultureHelper.GetCurrentCulture())        
        @CustomHelper.ShareOnFacebook(Request.Url.AbsoluteUri.ToString(), ViewBag.Title, Url.Content("~/Content/Icons/facebook48x48.jpg")) 
        @CustomHelper.ShareOnTwitter(Request.Url.AbsoluteUri.ToString(), ViewBag.Title, Url.Content("~/Content/Icons/Twitter48x48.jpg"))
        @CustomHelper.SubscribeRssChannel(Url.AbsoluteAction("RssFeed", "Post"), Url.Content("~/Content/Icons/RSS48x48.jpg"))
    </div>
    <div class="ui-helper-reset-float"></div>
    <div id="public-videos" class="ui-helper-margin-top-bottom">
		<div id="elements" class="ui-helper-width-100pc bg-align-center">
			@foreach (var modelitem in Model)
			{
				<div class="video-container ui-widget ui-corner-all ui-state-default ui-helper-display-inline-block ui-helper-padding">
					<h2 class="video-header tooltip" title="@modelitem.Name">@(modelitem.Name.Length > 45 ? CustomHelper.TruncateString(modelitem.Name, 45).ToString() : modelitem.Name)</h2>
					<p class="video-description ui-helper-margin-left-right tooltip ui-helper-padding" title="@modelitem.Description">@Html.Raw((modelitem.Description.Length > 110 ? CustomHelper.TruncateString(modelitem.Description, 110).ToString() : modelitem.Description))</p>
					<div class="video-movie ui-helper-width-100pc bg-align-center ui-helper-padding-top-10pc">
						@if (!String.IsNullOrEmpty(modelitem.Html))
						{ 
							@Html.Raw(modelitem.Html)
		        		}
						else
						{
							if (!String.IsNullOrEmpty(modelitem.Path))
							{
								if (modelitem.VideoType == VideoType.Flash)
								{
							@Video.Flash(path: modelitem.Path, width: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoWidth, height: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoHeight)
						}
						else if (modelitem.VideoType == VideoType.MediaPlayer)
						{
							@Video.MediaPlayer(path: modelitem.Path, width: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoWidth, height: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoHeight)
						}
						else if (modelitem.VideoType == VideoType.Silverlight)
						{
							@Video.Silverlight(path: modelitem.Path, width: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoWidth, height: BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoHeight)
						}
						else if (modelitem.VideoType == VideoType.Html5)
						{
							@Html.Html5Video(modelitem.Path, BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoWidth, BgEngine.Application.ResourceConfiguration.BgResources.Media_VideoHeight);
						}
					}
				}
					</div>
				</div>        
    	    }
		    </div>
		    <div id="pager" class="ui-helper-reset-float ui-margin-top-bottom">
			    @Html.PagedListPager((IPagedList)Model, page => Url.RouteUrl("Default", new { controller = "Video", action = "Index", page }), PagedListRenderOptions.PageNumbersOnly)
		    </div>    
    </div>
}
else
{
    <h2 class="ui-helper-margin ui-widget-content ui-state-highlight ui-corner-all ui-helper-padding">@Resources.AppMessages.Videos_NoVideo</h2>
}

<script>
    /* Correct youtube embedded videos z-index for showing tooltips above them */
    $('#public-videos iframe').each(function() {
        var url = $(this).attr('src');
        $(this).attr('src',url+'?wmode=transparent'); 
   });
</script>