@*==============================================================================
 This file is part of BgEngine.

 BgEngine is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 BgEngine is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with BgEngine. If not, see <http://www.gnu.org/licenses/>.
==============================================================================
 Copyright (c) 2011 Yago Pérez Vázquez
 Version: 1.0
==============================================================================*@

@model BgEngine.Domain.EntityModel.Category

@{
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
	ViewBag.Title = Resources.AppMessages.Category + " - " + Resources.AppMessages.Edit;
}

<script src="@Url.Content("~/Scripts/internal/bg.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~//Scripts/jquery.watermark.min.js")" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("form").form();
	});
</script>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
        @Html.AntiForgeryToken()
		<legend>@String.Format(Resources.AppMessages.Localization_Edit,Model.Name)</legend>
        <table>
			<tr>
				<td>
					<div class="editor-label">
						@Html.LabelFor(model => model.Name)
					</div>
				</td>
				<td>
					<div class="editor-field">
						@Html.EditorFor(model => model.Name)
						@Html.ValidationMessageFor(model => model.Name)
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="editor-label">
						@Html.LabelFor(model => model.Description)
					</div>
				</td>
				<td>
					<div class="editor-field">
						@Html.EditorFor(model => model.Description)
						@Html.ValidationMessageFor(model => model.Description)
					</div>
				</td>
			</tr>
		</table>
	    @Html.HiddenFor(model => model.CategoryId)    
		@Html.HiddenFor(model => model.DateCreated, new { value = Model.DateCreated })
		<p>
			<input type="submit" value="@Resources.AppMessages.Save" />
			@Html.RouteLink(Resources.AppMessages.Back_to_List, new { controller = "Category", action = "Index" }, new { @class = "bg-button-back" })
		</p>
	</fieldset>
}

